.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}

#heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3rem;
    margin-top: 5rem;
    margin-left: 2rem;
}

span:nth-of-type(1n) {
    color: rgb(31, 138, 2);
}

span:nth-of-type(2n) {
    color: crimson;
}

span:nth-of-type(3n) {
    color: rgb(253, 183, 4);
}

span:nth-of-type(4n) {
    color: cadetblue;
}

span:nth-of-type(5n) {
    color: rosybrown;
}

ul {
    margin: 5rem;
}

li {
    padding: 10px;
    font-size: 1.3rem;
}

b {
    color: rgb(31, 138, 2);
    padding: 10px;
}

button {
    height: 5rem;
    width: 20rem;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1.5rem;
    position: fixed;
    bottom: 100px;
}

button:hover {
    background-color: rgb(31, 138, 2);
    color: black;
    transform: scale(1.05);
    font-size: 35px;
    font-weight: bolder;
    border: 2px solid black;
}

table {
    width: 60%;
}

table,
th,
td {
    text-align: center;
    border: 2px solid white;
}

th {
    height: 50px;
    color: white;
    font-size: 1rem;

}

td {
    font-size: 1rem;
    padding: 10px;
}

th:nth-of-type(1n) {
    color: rosybrown;
}

th:nth-of-type(2n) {
    color: cadetblue;
}

th:nth-of-type(3n) {
    color: rgb(253, 183, 4);
}

@media (min-width:800px) and (max-width:1150px) {
    #heading {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 2rem;
        margin-top: 5rem;
        margin-left: 2rem;
    }

    button {
        bottom: 50px;
    }
}

@media (min-width:600px) and (max-width:800px) {
    h1 {
        font-size: 2rem;
        margin-top: 2rem;
        margin-left: 0rem;
    }

    #heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    button {
        height: 5rem;
        width: 15rem;
        font-size: 1.2rem;
        bottom: 40px;
    }

    button:hover {
        transform: scale(1.05);
        font-size: 1.4rem;
    }

    ul {
        margin: 2rem;
    }

    li {
        padding: 10px;
        font-size: 1.1rem;
    }
}

@media(max-width:600px) {
    h1 {
        font-size: 1.3rem;
        margin-top: 1rem;
        margin-left: 0rem;
    }

    #heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
    }

    button {
        height: 3rem;
        width: 10rem;
        font-size: 1rem;
        bottom: 10px;
    }

    button:hover {
        transform: scale(1.05);
        font-size: 1.1rem;
    }

    ul {
        margin: 1rem;
        margin-top: 5rem;
    }

    li {
        padding: 2px;
        font-size: 1rem;
    }
}